body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  background: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
}

.nav {
  display: flex;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03px;
  text-transform: uppercase;
  margin-right: 72px;
}

.menu {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}

.menu-link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu-link:hover {
  color: #404bbf;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu-link:focus {
  color: #404bbf;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.address-link {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

.address-list {
  display: flex;
  gap: 40px;
}

.section {
  padding-bottom: 120px;
  padding-top: 120px;

}

.main-section {
  background: #2e2f42;
}

.main-container {
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 48px;
}

.title-hide {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.button {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  margin-left: 480px;
}

.button:hover {
  background: #404bbf;
}

.button:focus {
  background: #404bbf;
}

.list-advantages {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.advantages {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  max-width: 264px;
  width: 100%;
}

.paragraph-advantages {
  letter-spacing: 0.02em;
  max-width: 264px;
  width: 100%;
}

.section-team {
  background: #f4f4fd;
}

.title-team {
  color: #2e2f42;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  width: 100%;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.title-team-cards {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  margin-bottom: 8px;
}

.paragraph-team {
  text-align: center;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}

.team-cards {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolo-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: space-between;
}

.item-portfolio {
  border: 1px solid #e7e9fc;
}

.image-portfolio {
  flex-shrink: 0;
}

.title-portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.title-works {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  margin-bottom: 8px;
  padding-left: 16px;
}

.paragraph-works {
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-left: 16px;
}

.footer {
  background: #2e2f42;
}

.footer-container {
  padding-top: 100px;
}

.logo-footer {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer-webstudio {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 16px;
}

.paragraph-footer {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  width: 100%;
  padding-bottom: 100px;
}
